.content-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40vw;
    row-gap: 30px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000000;

}

.form>input {
    border-bottom: 1px solid black;
    padding: 10px;

}

.form>button {
    padding: 10px;
    background-color: rgb(0, 144, 172);
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 10px #000000;
}

.form>button:hover {
    background-color: rgb(38, 202, 235);
    color: black;
}

.table {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40vw;
    row-gap: 30px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000000;

}

.t-row {
    justify-content: center;
    display: flex;
}


.table td, .table th {
    width: 33%;
    text-align: center;
    border: 1px solid black;
}

.error-box {
    background-color: red;
}
